body {
    font-family: 'Inter', sans-serif;
    background-image: url(../final-project/pizza_pattern.png);
    background-size: 25%;
    background-repeat: repeat;
}

#hungryHeader {
    font-size: 30px;
    font-weight: 900;
    color: white;
    text-align: center;
    margin-bottom: 5px;
    text-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.24), 0 5px 7px 0 rgba(0, 0, 0, 0.19);
}

#header1 {
    font-size: 18px;
    font-weight: 600;
}

.createOrder {
    text-align: center;
    border: solid 2px #9d3f3f;
    border-radius: 25px;
    background-color: whitesmoke;
    width: 650px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 15px;
    padding-top: 20px;
    letter-spacing: 2px;
    color: #2b2b2b;
}

#orderForm {
    text-align: center;
    border: solid 2px #9d3f3f;
    border-radius: 25px;
    background-color: whitesmoke;
    width: 650px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 20px;
    padding-top: 20px;
    letter-spacing: 2px;
    color: #2b2b2b;
}

#order {
        text-align: center;
    border: solid 2px #9d3f3f;
    border-radius: 25px;
    background-color: whitesmoke;
    width: 650px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 15px;
    padding-top: 20px;
    letter-spacing: 2px;
    color: #2b2b2b;
}

#btn {
    background-color: #9d3f3f;
    border-radius: 15px;
    border-color: #9d3f3f;
    color: whitesmoke;
    font-weight: 600;
    padding: 7px;
    text-align: center;
    font-size: 10px;
}

#btn:hover {
    color: whitesmoke;
    background-color: #88b094;
    font-weight: 800;
    border-color: #88b094;
    border-radius: 20px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.24), 0 5px 7px 0 rgba(0, 0, 0, 0.19);
 }